<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @total %></span>
    Total Twitter with the word: Java
    <% if not params['search'].blank? %>
     (and search '<%= params['search'] %>')
    <% end %>
  </li>
</ul>

<% @twitts.each do |twitt| %>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail tile tile-double tile-blue" style="width:100%;">
      <div class="col-sm-3">
        <% if twitt['username_image_url'] %>
          <img src="<%=twitt['username_image_url']%>" class="img-circle">
        <% end %>
      </div>
      <div>@<%= twitt['username'] %></div>
      <div>
        <%= twitt['text'] %>
      </div>
      <div>
        <%= twitt['created_at'] %>
      </div>
    </div>
  </div>
<% end %>

<p>You are able to see just the 50 twitts more recents!</p>

<!-- <ul class="pager">
  <li class="previous"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul> -->
